{% extends 'base.html.twig' %}

{% block title %}Editar un àlbum{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center py-5">
        <div class="row">
            <div class="col-12">
                <h2 class="fs-5 border-3 border-bottom border-info-subtle">Editant àlbums</h2>
            </div>
        </div>
    </div>

    {{ include('album/_form.html.twig', {'button_label': 'Modificar'}) }}

    <!--{{ include('album/_delete_form.html.twig') }}-->
{% endblock %}
