{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}403 - Error{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-danger text-center">Error 403 - Permís denegat</h3>
            <p class="text-center fs-2">Permís denegat per a accedir a aquesta pàgina.</p>
        </div>
    </div>
{% endblock %}